@import '~node_modules/modern-normalize/modern-normalize.css';
/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/manrope-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/manrope-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin-regular.woff2") format("woff2"), url("../fonts/manrope-v13-latin-regular.woff") format("woff"), url("../fonts/manrope-v13-latin-regular.ttf") format("truetype"), url("../fonts/manrope-v13-latin-regular.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/manrope-v13-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../fonts/manrope-v13-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin-500.woff2") format("woff2"), url("../fonts/manrope-v13-latin-500.woff") format("woff"), url("../fonts/manrope-v13-latin-500.ttf") format("truetype"), url("../fonts/manrope-v13-latin-500.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* manrope-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v13-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../fonts/manrope-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/manrope-v13-latin-700.woff2") format("woff2"), url("../fonts/manrope-v13-latin-700.woff") format("woff"), url("../fonts/manrope-v13-latin-700.ttf") format("truetype"), url("../fonts/manrope-v13-latin-700.svg#Manrope") format("svg"); /* Legacy iOS */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
body {
  font-family: "Manrope", sans-serif;
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
  color: #111321;
  background-color: #f4f4f4;
}

.footer {
  background-color: #2e2e2e;
  color: #ffffff;
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
}

body.darkmode {
  font-family: "Manrope", sans-serif;
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
  background-color: #2e2e2e;
  color: #ffffff;
}

.footer.darkmode-footer {
  color: #111321;
  -webkit-transition: var(--switch-transition);
  transition: var(--switch-transition);
  background-color: #f4f4f4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

:root {
  --switch-transition: 0;
  --switch-background: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch .switch__input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__input:checked + .switch__slider {
  background-color: #4b48db;
}
.switch__input:focus + .switch__slider {
  -webkit-box-shadow: 0 0 1px #4b48db;
          box-shadow: 0 0 1px #4b48db;
}
.switch__input:checked + .switch__slider::before {
  -webkit-transform: translateX(21px);
          transform: translateX(21px);
  background-color: #ffffff;
}

.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.6px solid #4b48db;
  border-radius: 20px;
}
.switch__slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  top: 2px;
  background-color: #4b48db;
  border-radius: 50%;
}

.footer {
  padding: 40px 0;
}
@media (min-width: 768px) {
  .footer {
    padding: 48px 0;
  }
}
@media (min-width: 1280px) {
  .footer {
    padding: 60px 0;
  }
}

ul, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer-title {
    font-size: 32px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .footer-title {
    font-size: 42px;
  }
}

.footer-row-name,
.support-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer-row-name,
  .support-text {
    font-weight: 700;
  }
}
@media (min-width: 1280px) {
  .footer-row-name,
  .support-text {
    font-size: 18px;
  }
}

.footer-list {
  text-align: center;
}

.footer-item:not(:last-child) {
  margin-bottom: 7px;
}

.footer-row-thumb {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .footer-row-thumb {
    font-weight: 700;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
}
@media (min-width: 1280px) {
  .footer-row-thumb {
    font-size: 18px;
    line-height: 1.388;
  }
}

.support-img {
  width: 150px;
}

@media (min-width: 768px) {
  .support-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-link {
  -webkit-transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  display: inline-block;
  position: relative;
  opacity: 0.7;
}
.footer-link::after {
  content: "";
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4440f6;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover::after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}
.footer-link:hover {
  color: #4440f6;
  opacity: 1;
}

.footer-credits {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer-credits {
    font-size: 16px;
  }
}/*# sourceMappingURL=index.css.map */