//Міксин, який виводить необхідну точку злому
@mixin respondTo($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

//міксін дарк/лайт теми

@mixin darkmode {
  background-color: getColor('background-reversed');
  color: getColor('primary-reversed');
}

@mixin lightmode {
  color: getColor('primary');
  background-color: getColor('background-primary');
}
