// Точки перелому
$breakpoints: (
  'small': (
    min-width: 320px,
  ),
  'pre-medium': (
    max-width: 767px,
  ),
  'medium': (
    min-width: 768px,
  ),
  'pre-large': (
    max-width: 1279px,
  ),
  'large': (
    min-width: 1280px,
  ),
) !default;

// @include respondTo('small') {

// }

// Шрифти
$text-primary: 'Manrope', sans-serif;
$text-secondary: 'Poppins', sans-serif;

// Кольори

$colors: (
  'background-primary': #f4f4f4,
  'background-reversed': #2e2e2e,
  'primary': #111321,
  'primary-reversed': #ffffff,
  'accent': #4440f6,
  'grey': #a8a8a8,
);
