<footer class="footer">
  <div class="container">
    <div class="footer-top-thumb">
      <p class="footer-title">News</p>
      <!-- Toggle mode -->
      <div class="toggle-mode footer-toggle">
        <svg class="toggle-mode__icon sun" width="21" height="21">
          <use href="./images/sprite.svg#sun"></use>
        </svg>
        <p class="toggle-mode__light">Light</p>
        <label class="toggle-mode__switch">
          <input type="checkbox" class="toggle-mode__checkbox" />
          <span class="toggle-mode__slider round"></span>
        </label>
        <p class="toggle-mode__dark opacity">Dark</p>
        <svg class="toggle-mode__icon moon" width="21" height="21">
          <use href="./images/sprite.svg#moon"></use>
        </svg>
      </div>
    </div>
    <div class="footer-row-thumb">
      <div class="menu-thumb">
        <p class="footer-row-name">MENU</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="./index.html">Home</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./favourite.html">Favorite</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="./read.html">Read</a>
          </li>
        </ul>
      </div>
      <div class="about-thumb">
        <p class="footer-row-name">ABOUT</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#">About Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Contact Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Advertising</a>
          </li>
        </ul>
      </div>
      <div class="policies-thumb">
        <p class="footer-row-name">POLICIES</p>
        <ul class="footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Terms & Conditions</a>
          </li>
        </ul>
      </div>
      <div class="support-thumb">
        <p class="support-text">SUPPORT UKRAINE</p>
        <img class="support-img" src="./images/qr-code.jpg" alt="" />
      </div>
    </div>
    <p class="footer-credits">
      All materials, including photographs, contained on this site are protected
      by copyright law and may not be reproduced without the prior written
      permission.
    </p>
  </div>
</footer>
