<div class="lift-buttons" name="lift-buttons">
  <button class="up-button" type="button" name="go_up">
    <svg class="svg-up" width="22" height="22">
      <use href="./images/vertical-btns.svg#up-down"></use>
    </svg>
  </button>
  <button class="middle-button" type="button" name="get_back">
    <svg class="svg-back" width="18" height="18" viewBox="0 0 32 32">
      <use href="./images/vertical-btns.svg#back"></use>
    </svg>
  </button>
  <button class="down-button" type="button" name="go_down">
    <svg class="svg-up" width="22" height="22">
      <use href="./images/vertical-btns.svg#up-down"></use>
    </svg>
  </button>
</div>
