<div class="toggle-mode">
  <svg class="toggle-mode__icon sun" width="21" height="21">
    <use href="./images/sprite.svg#sun"></use>
  </svg>
  <p class="toggle-mode__light">Light</p>
  <label class="toggle-mode__switch">
    <input type="checkbox" class="toggle-mode__checkbox" />
    <span class="toggle-mode__slider round"></span>
  </label>
  <p class="toggle-mode__dark">Dark</p>
  <svg class="toggle-mode__icon moon" width="21" height="21">
    <use href="./images/sprite.svg#moon"></use>
  </svg>
</div>
