.header {
  min-height: 81px;
  border-bottom: 1px solid transparentize($color: #000000, $amount: 0.8);
  
  body.darkmode & {
    border-color: transparentize(getColor('background-primary'), 0.8);
  }
}

.header__box {
  display: flex;
  align-items: center;

  @include respondTo('medium') {
    align-items: none;
  }
}

.header__search-container {
  display: flex;
  align-items: baseline;
  margin-left: auto;

  @include respondTo('large') {
    margin-right: auto;
  }
}

.toggle-mode {
  gap: 8px;

  &__text {
    @extend %list;
    font-family: $text-secondary;
  }

  @include respondTo('pre-medium') {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.mobile {
      display: flex;
      position: absolute;
      z-index: 6;
      bottom: 18;
      opacity: 100%;
      pointer-events: all;
      visibility: inherit;
    }
  }

  @include respondTo('medium') {
    display: flex;
    align-items: center;
    width: 98px;
    height: 21px;
    margin-left: 24px;
    margin-top: 49px;
    margin-bottom: 36px;
  }

  @include respondTo('large') {
    gap: 12px;
    width: 148px;
    height: 24px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 35px;
  }
}

.is-open {
  border: none;
  background-color: transparent;
}

.is-open {
  .btn-open__icon {
    stroke: getColor('primary');
    // transform: translateY(1px);
  }

  @include respondTo('medium') {
    display: none;
  }
}

input:checked + .toggle-mode__slider:before {
  background-color: getColor('primary-reversed');
}

input:checked + .toggle-mode__slider {
  background-color: getColor('accent');
  border: 1px solid getColor('primary-reversed');
}

input:focus + .toggle-mode__slider {
  box-shadow: 0 0 1px getColor('accent');
}

input:checked + .toggle-mode__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

.toggle-mode__slider.round {
  border-radius: 34px;
}

.toggle-mode__slider.round:before {
  border-radius: 50%;
}

.toggle-mode__dark {
  display: none;
}

.toggle-mode__light {
  display: none;
}

@include respondTo('large') {
  .toggle-mode {
    gap: 12px;
  }
  .toggle-mode__icon {
    display: none;
  }
  .toggle-mode__dark {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;

    color: #4440f7;
  }
  .toggle-mode__light {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }
  .opacity {
    opacity: 0.4;
  }
}

input:checked + .toggle-mode__dark {
  color: getColor('accent');
}

.toggle-mode__light {
  color: #4b48db;
}
.toggle-mode__dark:checked + .toggle-mode__slider {
  color: getColor('accent');
}
.sun {
  fill: getColor('accent');
  stroke: getColor('accent');
}
.moon {
  fill: getColor('primary-reversed');
  stroke: getColor('accent');
}
