.header {
  min-height: 81px;
  border-bottom: 1px solid transparentize($color: #000000, $amount: 0.8);
  transition: border-color 1000ms ease ;

  body.darkmode & {
    border-color: transparentize(getColor('background-primary'), 0.8);
  }
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__thumb {
  align-items: baseline;
  display: flex;
  margin-left: auto;

  @include respondTo('large') {
    gap: 147px;
  }
}

.header__nav {
  @include respondTo('medium') {
    margin-right: 32px;
  }

  @include respondTo('large') {
    margin-right: 0;
  }
}

.header__search-container {
  display: flex;
  align-items: center;

  @include respondTo('medium') {
    margin-right: 32px;
  }

  @include respondTo('large') {
    margin-right: 0;
  }
}

.is-open {
  @extend %resetGap;
  border: none;
  background-color: transparent;

  @include respondTo('medium') {
    display: none;
  }
}

.btn-open__icon {
  margin-left: 14px;
  stroke: getColor('primary');

  body.darkmode & {
    stroke: getColor('background-primary');
  }
}