.articles {
  @extend %link;
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  margin: 0 auto;

  @include respondTo('medium') {
    flex-direction: row;
    gap: 30px;
  }

  @include respondTo('large') {
    gap: 32px;
  }
}

.markup-unit {
  position: relative;
  border-radius: 10px;
  box-shadow: 8px 10px 20px transparentize(getColor('primary'), 0.5);
  transition: transform 500ms ease;

  @include respondTo('medium') {
    width: calc((100% - (30px * 1)) / 2);
  }
  @include respondTo('large') {
    width: calc((100% - (32px * 2)) / 3);
    padding-bottom: 8px;
  }

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  body.darkmode & {
    box-shadow: 8px 10px 20px transparentize(getColor('primary'), 0.5),
      -5px 3px 20px transparentize(getColor('primary'), 0.5);
  }
}

.markup-unit__global-link {
  @extend %link;
  cursor: pointer;
  padding-top: 20px;
}

// .markup-unit::before {
//   content: '';
//   position: absolute;
//   width: 290px;
//   height: 675px;
//   background-color: rgba(244, 244, 244, 0.4);
//   @media screen and (min-width: 768px) {
//     width: 353px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 395px;
//   }
// }

.markup-unit__section {
  @extend %resetGap;
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  padding: 8px 4px;
  background: transparentize(getColor('accent'), 0.3);
  color: getColor('background-primary');
  border-radius: 0px 4px 4px 0px;
  width: fit-content;
  top: 40px;
  z-index: 4;
}

.markup-unit__already-read {
  @extend %resetGap;
  font-weight: 700;
  font-size: 14px;
  color: #00dd73;
  position: absolute;
  display: flex;
  align-items: center;
  top: 14px;
  right: 14px;
  @include respondTo('medium') {
    top: 20px;
    right: 20px;
  }
}

.markup-unit__icon-check {
  margin-left: 5px;
}

.markup-unit__card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.markup-unit__image-wrapper {
  min-height: 395px;
  position: relative;
}

.markup-unit__add-favorite {
  position: absolute;
  bottom: 12px;
  right: 8px;
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;

  @include respondTo('medium') {
    right: 12px;
  }
}

.markup-unit__favorite-icon {
  fill: none;

  &--active {
    fill: #4440f7;
  }
}

.markup-unit__favorite-text {
  @extend %resetGap;
  font-weight: 500;
  font-size: 12px;
  color: getColor('primary');
  margin: 0 auto;
}

.markup-unit__card-thumb {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;

  @include respondTo('medium') {
    height: 220px;
  }
}

.markup-unit__details {
  padding: 0 6px 6px 6px;
  height: 100%;
}

.markup-unit__subdetails {
  display: grid;
  grid-template-rows: 131px 20px 66px 20px 22px;
}

.markup-unit__card-header {
  @extend %resetGap;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  overflow: hidden;
  pointer-events: none;
  grid-row: 1 / span 1;

  @include respondTo('medium') {
    font-size: 32px;
  }
}

.markup-unit__card-text {
  @extend %resetGap;
  font-size: 14px;
  overflow: hidden;
  pointer-events: none;
  grid-row: 3 / span 1;

  @include respondTo('medium') {
    font-size: 16px;
  }
}

.markup-unit__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-row: 5 / span 1;
}

.markup-unit__card-date {
  @extend %resetGap;
  font-size: 14px;
  color: getColor('grey');
  pointer-events: none;

  @include respondTo('medium') {
    font-size: 16px;
  }
}

.markup-unit__read-more {
  @extend %resetGap;
  @extend %link;
  font-size: 14px;
  color: getColor('accent');
  pointer-events: none;

  @include respondTo('medium') {
    font-size: 16px;
  }
}

.markup-unit__read {
  min-height: 630px;
  display: flex;
  flex-direction: column;
  @include respondTo('medium') {
    min-height: 675px;
  }
}

.weather-placeholder {
  width: 394.66px;
  height: 675px;
  background-color: getColor('primary');
}

.heart-fav {
  fill: getColor('accent');
}

// .lift-buttons {
//   position: fixed;
//   bottom: 30px;
//   left: 10px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 15px;
//   width: 85px;
// }

// .up-button,
// .middle-button,
// .down-button {
//   cursor: pointer;
//   color: getColor('accent');
//   border-radius: 20px;
//   border: 1 solid getColor('accent');
//   @extend %resetGap;
//   padding: 5px 7px;
//   width: inherit;
//   background-color: #00dd73;
// }

// .middle-button {
//   transform: rotate(-90deg);
//   width: auto;
// }

// .middle-button.rot-down {
//   transform: rotate(-180deg);
// }

// .middle-button.rot-up {
//   transform: rotate(0deg);
// }
