.news {
  padding-top: 24px;
  padding-bottom: 60px;

  @include respondTo('medium') {
    padding-top: 28px;
    padding-bottom: 100px;
  }

  @include respondTo('large') {
    padding-bottom: 150px;
  }
}

.favourite {
  padding-top: 40px;
  padding-bottom: 60px;

  @include respondTo('medium') {
    padding-top: 48px;
    padding-bottom: 100px;
  }

  @include respondTo('large') {
    padding-top: 60px;
    padding-bottom: 300px;
  }
}

.read {
  padding-top: 40px;
  padding-bottom: 140px;

  @include respondTo('medium') {
    padding-top: 48px;
    padding-bottom: 180px;
  }

  @include respondTo('large') {
    padding-top: 60px;
    padding-bottom: 210px;
  }
}

.choosing-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  gap: 10px;

  @include respondTo('medium') {
    gap: 40px;
  }
}
