.menu {
  display: none;
  @extend %list;
  @include respondTo('medium') {
    display: flex;
    margin-left: 48px;

    margin-right: 32px;

    gap: 44px;
  }

  @include respondTo('large') {
    margin-left: 102px;
    gap: 69px;
  }
}

.menu__item {
  padding-top: 48px;
  padding-bottom: 36px;

  @include respondTo('large') {
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.menu__link {
  @extend %link;
  font-weight: 700;

  @include respondTo('large') {
    font-size: 18px;
  }

  &--current {
    padding-bottom: 8px;
    border-bottom: 1px solid getColor('accent');
    padding-left: 6px;
    padding-right: 6px;

    @include respondTo('large') {
      padding-bottom: 5px;
    }
  }

  &:hover,
  &:focus {
    color: getColor('accent');
  }
}