.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: getColor('background-primary');
  z-index: 5;
  transform: translateY(-100%);
  transition: 250ms cubic-bezier(0.12, 0.56, 0.79, 0.6);

  &.is-open {
    transform: translateY(0);
    transition: 250ms cubic-bezier(0.12, 0.56, 0.79, 0.6);
  }

  @include respondTo('medium') {
    display: none;
  }

  body.darkmode & {
    background-color: getColor('background-reversed');
  }
}

.mobile-menu__container {
  display: block;
}

.mobile-menu__wrapper {
  display: flex;
  // // justify-content: space-between;
  align-items: center;
  margin-bottom: 68px;
}

.menu-close {
  @extend %resetGap;
  margin-left: auto;
  border: none;
  background-color: transparent;

  svg {
    stroke: getColor('primary');
    fill: getColor('primary');
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: getColor('accent');
  border-radius: 50%;

  &--current {
    border: 1px solid getColor('background-primary');
  }
}

.mobile-list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-list__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;
  @extend %link;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(22 / 16);

  &:hover {
    height: 44px;
    width: 100%;
    background-color: getColor('accent');
    box-shadow: 0 0 0 100vmax getColor('accent');
    clip-path: inset(0 -100vmax);
    color: getColor('background-primary');
  }

  &--current {
    height: 44px;
    width: 100%;
    background-color: getColor('accent');
    box-shadow: 0 0 0 100vmax getColor('accent');
    clip-path: inset(0 -100vmax);
    color: getColor('background-primary');
  }
}

.current-page__icon {
  transform: rotate(270deg);
  position: absolute;
  right: -1px;
  fill: getColor('background-primary');
}

.mobile-list__icon {
  fill: none;
  fill: getColor('accent');
  stroke: getColor('background-primary');
}
