.search-form {
  display: flex;
  background-color: transparent;

  @include respondTo('pre-medium') {
    &:hover {
      margin-top: 1px;
      border: 1px solid getColor('primary');
      outline: none;
      border-radius: 20px;
      
      input {
        width: 125px;
        padding: 8px 0;
      }

      .search-form__btn {
        border: none;
      }
    }
  }

  @include respondTo('medium') {
    border: 1px solid;
    border-radius: 20px;
    width: 213px;
  }

  @include respondTo('large') {
    margin: 0 auto;
    width: 288px;
  }

  & input {
    font-family: $text-secondary;
    font-size: 12px;
    line-height: calc(21 / 12);
    letter-spacing: 0.02em;
    color: getColor('primary');
    border: none;
    outline: none;
    background: none;
    transition: 0.4s;

    @include respondTo('pre-medium') {
      padding: 0;
      transition: 0.4s;
      width: 0;
    }

    @include respondTo('medium') {
      padding: 5px 0;
      font-size: 14px;
      line-height: calc(24 / 14);
    }

    body.darkmode & {
      color: getColor('background-primary')
    }
  }
}

.search-form__btn {
  @extend %resetGap;
  border: none;
  background-color: inherit;
  padding: 6px 16px 6px 12px;
  transition: color 1000ms ease;

  @include respondTo('pre-medium') {
    color: getColor('primary');
  }

  body.darkmode & {
    color: getColor('background-primary');
    transition: color 1000ms ease;
  }
}

.search-form__icon {
  @extend %icon;
  @extend %resetGap;
}
