.search-form {
  display: flex;
  transition: outline-color 1000ms ease;

  @include respondTo('pre-medium') {
    &:hover {
      outline: 1px solid getColor('primary');
      border-radius: 20px;
    }
  }

  body.darkmode & {
    outline-color: getColor('background-primary');
  }

  @include respondTo('medium') {
    outline: 1px solid getColor('primary');
    border-radius: 20px;
    width: 173px;
  }

  @include respondTo('large') {
    width: 288px;
  }
}

.search-form__btn {
  @extend %resetGap;
  border: none;
  background-color: transparent;
  transition: color 1000ms ease;
  padding: 6px 16px 6px 12px;
  cursor: pointer;

  body.darkmode & {
    color: getColor('background-primary');
  }

  @include respondTo('pre-medium') {
    transition: padding 400ms ease;
    .search-form:hover & {
      padding: 6px 16px 6px 12px;
    }
  }
}

.search-form__icon {
  @extend %icon;
  transition: fill 1000ms ease;
  body.darkmode & {
    fill: getColor('background-primary');
  }
}

.search-form__input {
  @extend %resetGap;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: $text-secondary;
  font-size: 12px;
  line-height: calc(21 / 12);
  letter-spacing: 0.02em;
  transition: color 1000ms ease;

  @include respondTo('pre-medium') {
    width: 0;
    transition: width 400ms ease;
  }

  @include respondTo('large') {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  .search-form:hover & {
    width: 125px;
  }

  body.darkmode & {
    color: getColor('background-primary');
  }

  &::placeholder {
    transition: color 1000ms ease;
    body.darkmode & {
      color: transparentize(getColor('background-primary'), 0.6);
    }
  }
}
