.toggle-mode__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .toggle-mode__checkbox {
    display: none;
  }
  
  .toggle-mode__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid getColor('accent');
    background-color: getColor('background-primary');
  }
  
  .toggle-mode__slider::before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    background-color: getColor('accent');
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }