.weather {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #4440f6;
  width: 288px;
  height: 469px;
  border-radius: 10px;
  // box-shadow: 5px 5px 5px rgb(21, 21, 21);
}
@media screen and (min-width: 768px) {
  .weather {
    width: 353px;
    height: 675px;
  }
}
@media screen and (min-width: 1280px) {
  .weather {
    width: calc((100% - (32px * 2)) / 3);
    height: 675px;
    padding-top: 40px;
  }
}

.day {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 30px;

  left: 67px;
  top: 319px;
  margin-bottom: -20px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .day {
    font-size: 36px;
    line-height: 42px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.date {
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 2.5;
  width: 155px;
  height: 66px;
  left: 67px;
}

.temp {
  color: #ffffff;
  width: 83px;
  height: 64px;
  left: -1px;
  top: 5px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
}
@media screen and (min-width: 768px) {
  .temp {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .temp {
    font-size: 64px;
    line-height: 75px;
  }
}

.weather-img {
  @extend %resetGap;
  display: inline-block;
  width: 170px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .weather-img {
    width: 250px;
    margin-top: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .weather-img {
    margin-top: 89x;
  }
}

.weather-information {
  display: flex;
  justify-content: center;
}

.weather-city {
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
}

.main {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 1, 17;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  margin-left: 11px;
}
@media screen and (min-width: 768px) {
  .main {
    font-size: 36px;
    line-height: 42px;
  }
}

.name-city {
  justify-content: center;
  font-family: 'Roboto';
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background-color: rgba(254, 254, 255, 0.3);
  height: 34px;
  width: 121px;
  border-radius: 10px;
  margin-left: 11px;
  padding-top: 4px;
}
@media screen and (min-width: 768px) {
  .name-city {
    height: 34px;
    width: 135px;
  }
}

.svg {
  padding-top: 5px;
}

.rotate-center {
  -webkit-animation: rotate-center 0.2s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

.wind {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .wind {
    margin-top: 40px;
  }
}

.wind-svg {
  margin-right: 10px;
}

.plug-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.plug-space__header {
  @extend %resetGap;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  margin-top: 20px;
  overflow: hidden;
  padding: 0px 15px;
  color: getColor('primary');
  @include respondTo('medium') {
    font-size: 32px;
  }
}

.plug-space__icon {
  text-align: center;
  fill: getColor('primary');
}
