.weather {
  padding-top: 36px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: getColor('accent');
  width: 288px;
  height: 469px;
  border-radius: 10px;
  box-shadow: 5px 6px 8px transparentize(getColor('primary'), 0.5);
  transition: transform 400ms ease;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  @include respondTo('medium') {
    width: 353px;
    height: 675px;
  }

  @include respondTo('large') {
    width: calc((100% - (32px * 2)) / 3);
    padding-top: 40px;
  }
}

.day {
  @extend %resetGap;
  display: flex;
  justify-content: center;
  color: getColor('primary-reversed');
  font-family: 'Roboto';
  font-size: 30px;

  left: 67px;
  top: 319px;
  margin-bottom: -20px;
  margin-top: 10px;

  @include respondTo('medium') {
    font-size: 36px;
    line-height: 1.166;
  }
}

.date {
  @extend %resetGap;
  color: getColor('primary-reversed');
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 2.5;
  width: 155px;
  height: 66px;
  left: 67px;
}

.temp {
  @extend %resetGap;
  color: getColor('primary-reversed');
  width: 83px;
  height: 64px;
  left: -1px;
  top: 5px;
  font-family: 'Roboto';
  font-size: 55px;
  line-height: 1.166;

  @include respondTo('medium') {
    margin-right: 16px;
  }

  @include respondTo('large') {
    font-size: 64px;
  }
}

.weather-img {
  @extend %resetGap;
  width: 170px;
  margin-top: 30px;

  @include respondTo('medium') {
    width: 250px;
    margin-top: 50px;
  }

  @include respondTo('large') {
    margin-top: 89x;
  }
}

.weather-information {
  display: flex;
  justify-content: center;
}

.weather-city {
  @extend %resetGap;
  border-left: 1px solid getColor('primary-reversed');
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Roboto';
}

.main {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 1, 166;
  color: getColor('primary-reversed');
  display: flex;
  justify-content: flex-start;
  margin-left: 11px;

  @include respondTo('medium') {
    font-size: 36px;
    line-height: 1.166;
  }
}

.name-city {
  justify-content: center;
  font-family: 'Roboto';
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: getColor('primary-reversed');
  background-color: rgba(254, 254, 255, 0.3);
  height: 34px;
  width: 121px;
  border-radius: 10px;
  margin-left: 11px;
  padding-top: 4px;

  @include respondTo('medium') {
    height: 34px;
    width: 135px;
  }
}

.svg {
  padding-top: 5px;
}

.rotate-center {
  -webkit-animation: rotate-center 0.2s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}

.wind {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-size: 25px;
  color: getColor('primary-reversed');
  align-items: center;

  @include respondTo('medium') {
    margin-top: 40px;
  }
}

.wind-svg {
  margin-right: 10px;
}

.plug-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.plug-space__header {
  @extend %resetGap;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.01em;
  margin-top: 20px;
  overflow: hidden;
  padding: 0px 15px;
  color: getColor('primary');
  @include respondTo('medium') {
    font-size: 32px;
  }
}

.plug-space__icon {
  text-align: center;
  fill: getColor('primary');
}
