.header {
}

.container {
}

.logo {
  @extend %link;
  font-family: $text-primary;
  font-weight: 700;
  font-size: 42px;
  line-height: 57/42;
  color: getColor('primary');
}

.menu-open {
  border: none;
}

.btn-open {
  &__icon {
    stroke: getColor('primary');
  }
}

.menu {
  @extend %list;
  &__item {
  }

  &__link {
    @extend %link;
    font-family: $text-primary;
    font-weight: 700;
    font-size: 18px;
    line-height: 25/18;
    color: getColor('primary');
  }
}

.searh-form {
}

.visually-hidden {
}

.search-form {
  &__field {
    position: relative;
    width: 173px;
    height: 31px;
    padding: 5px 48px;
    border: 1px solid getColor('primary');
    border-radius: 20px;
    outline: none;
  }

  &__button {
    position: absolute;

    border: none;
  }

  &__icon {
  }
}

.toggle-mode {
  &__icon {
    fill: #4b48db;
    stroke: #4b48db;
  }

  &__text {
    @extend %list;
    font-family: $text-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #4b48db;
  }

  &__switch {
    fill: #5f6775;
    stroke: #5f6775;

    .switch input {
      display: none;
    }
  }

  &__checkbox {
  }

  &__slider {
  }
}

.round {
}

.mobile-container {
}

.menu-close {
  border: none;
}

.mobile-menu {
  @extend %list;
  &__item {
  }
  &__link {
    @extend %link;
  }
  &__icon {
    fill: getColor('accent');
    stroke: getColor('primary-reversed');
  }

  &__icon--current {
  }
}
