.articles {
  @extend %link;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 32px;
  margin-top: 119px;
}

.markup-unit {
  position: relative;
  width: calc((100% - (32px * 2)) / 3);
}

.markup-unit__read {
  background: url(../images/already-read-transparent.png);
}

.markup-unit__section {
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  padding: 8px 4px;
  background: transparentize(getColor('accent'), 0.3);
  color: getColor('background-primary');
  border-radius: 0px 4px 4px 0px;
  width: fit-content;
  top: 40px;
  z-index: 9;
}

.markup-unit__already-read {
  font-weight: 700;
  font-size: 14px;
  color: #00dd73;
  position: absolute;
  margin: 0;
  display: flex;
  align-items: center;
  top: 20px;
  left: 270px;
}

.markup-unit__icon-check {
  margin-left: 5px;
}

.markup-unit__card-image {
  object-fit: cover;
  width: auto;
  height: 395px;
  background-image: url(../images/background_image.png);
  border-radius: 10px;
  // margin-right: auto;
  // margin-left: auto;
}

.markup-unit__add-favorite {
  position: absolute;
  top: 355px;
  left: 257px;
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

.markup-unit__favorite-icon {
  fill: none;
}

// .markup-unit__favorite-icon.markup-unit__favorite-icon--active {
//   fill: #4440f7;
// }

.markup-unit__favorite-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: getColor('primary');
  margin: 0 auto;
}

.markup-unit__card-header {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -0.01em;
  padding-top: 20px;
  margin: 0px;
  height: 132px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markup-unit__card-text {
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
  margin: 0px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.markup-unit__card-date {
  font-size: 16px;
  color: getColor('grey');
  margin: 0;
  margin-right: 205px;
  display: inline-block;
  padding-top: 20px;
}

.markup-unit__read-more {
  @extend %link;
  font-size: 16px;
  color: getColor('accent');
  margin: 0;
}

.weather-placeholder {
  width: 394.66px;
  height: 711px;
  background-color: getColor('primary');
}
