.articles {
  display: flex;
  flex-direction: column;
  gap: 28px;
  list-style: none;
  margin: 0 auto;
  margin-top: 28px;
  padding: 0px;
  background-color: #f4f4f4;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    margin-top: 48px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 32px;
    margin-top: 60px;
  }
}

.markup-unit {
  position: relative;
  @media screen and (min-width: 768px) {
    width: calc((100% - (30px * 1)) / 2);
    height: 675px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - (32px * 2)) / 3);
    height: 675px;
    padding-bottom: 8px;
  }
}

// .markup-unit::before {
//   content: '';
//   position: absolute;
//   width: 290px;
//   height: 675px;
//   background-color: rgba(244, 244, 244, 0.4);
//   @media screen and (min-width: 768px) {
//     width: 353px;
//   }
//   @media screen and (min-width: 1280px) {
//     width: 395px;
//   }
// }

.markup-unit__section {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #f4f4f4;
  padding: 8px 4px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
  width: fit-content;
  top: 40px;
  z-index: 9;
}

.markup-unit__already-read {
  position: absolute;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #00dd73;
  margin: 0;
  display: flex;
  align-items: center;
  top: 14px;
  left: 167px;
  @media screen and (min-width: 768px) {
    top: 20px;
    left: 225px;
  }
  @media screen and (min-width: 1280px) {
    top: 20px;
    left: 270px;
  }
}

.markup-unit__icon-check {
  margin-left: 5px;
}

.markup-unit__card-image {
  object-fit: cover;
  width: auto;
  height: 395px;
  border-radius: 10px;
}

.markup-unit__add-favorite {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 12px;
  border-radius: 15px;
  border-style: none;
  top: 355px;
  left: 154px;
  z-index: 9;
  @media screen and (min-width: 768px) {
    left: 215px;
  }
  @media screen and (min-width: 1280px) {
    left: 257px;
  }
}

.markup-unit__favorite-icon {
  fill: none;
}

// .markup-unit__favorite-icon.markup-unit__favorite-icon--active {
//   fill: #4440f7;
// }

.markup-unit__favorite-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #111321;
  margin: 0 auto;
}

.markup-unit__card-header {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
  color: #111321;
  padding-top: 20px;
  margin: 0px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 44px;
    height: 135px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 32px;
    line-height: 44px;
    height: 135px;
  }
}

.markup-unit__card-text {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #111321;
  padding-top: 20px;
  margin: 0px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
    height: 100px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 22px;
    height: 100px;
  }
}

.markup-unit__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.markup-unit__card-date {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #a8a8a8;
  margin: 0;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.markup-unit__read-more {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #4440f7;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.weather-placeholder {
  width: 394.66px;
  height: 675px;
  background-color: #111321;
}

.no-found {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-top: 88px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 60px;
  }
}

.no-found__text {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #111321;
  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 55px;
    width: 550px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 40px;
    line-height: 55px;
    width: 550px;
  }
}

.no-found__image {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
  margin-bottom: 60px;
  background-image: url(/src/images/m_background_image.png);
  @media screen and (min-width: 768px) {
    width: 560px;
    height: 445px;
    background-image: url(/src/images/tbl_background_image.png);
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    width: 605px;
    height: 480px;
    background-image: url(/src/images/background_image.png);
    margin-bottom: 226px;
  }
}
